//  본문 전체를 포함하는 컨테이너 
.body-container{
  display: flex;
  flex-flow: row wrap; //column 보다 유연하게 레이아웃을 짤 수 있어서 row 방향으로 지정
}
//  각각의 행 그룹 컨테이너 
.layout{
  //  bem 패턴으로 작성. 가로사이즈가 100%이므로 레이아웃 하나가 차지하면서 column 정렬처럼 동작 
  &-full{
    width: 100%;
  }
  //  width 값은 1440px로 설정되어 화면 가운데 배치를 위한 컨테이너 
  &-width{
    width: 1440px;
    margin: 0 auto;
  }
}
