@import "./mixin";

// 시즌음료 애니메이션
@keyframes bounce{
  0%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(5px);
  }
}

// 시즌 컨테이너
.season-container{
  background-color: $season-bg-color;
  color: $season-text-color;
}

// season__description-text 로 시작하는 클래스들의 모든 속성을 설정 
// 음료소개 단락 공통
// season 클래스 밖에 선언하여 구체성 점수 10점 할당, 인스펙터로 확인 -> 캐스캐이딩에 영향을 미침
[class^="season__description-text"]{
  display: block;
}

.season{
  padding: 83px 919px 120px 119px;
  text-align: center;
  position: relative;
  border: 1px solid red;
  
  &__description{
    // 클래스 공통적용을 아래와 같이 해도 됨.
    /*
    &-text1, &-text2, &-text3, &-text4, &-text5{
      display: block;
    }
    */

    &-text1,
    &-text2{
      font-size: 4rem;
    }
    &-text2{
      @include flexbox($ma:space-between);
      &::before,
      &::after{
        content: "";
        display: block;
        width: 160px;
        height: 1px;
        background-color: $season-text-color;
      }
    }
    &-text3,
    &-text4{
      font-size: 9rem;
      font-weight: 700;
      color: $season-text-color2;
    }
    &-text1,
    &-text3,
    &-text4{
      text-transform: uppercase;      
    }
    &-text5{
      font-size: 2.6rem;
      padding-bottom: 20px;
      border-bottom: 1px solid currentColor;
    }
  }

  //음료이미지
  
  &__beverage-item{
    position: absolute;
//    animation: bounce 600ms alternate ease-in-out infinite;

    :hover{
      animation-play-state: paused;
    }
    img{
      /*
      animation-name:bounce;
      animation-duration: 300ms;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      */
      animation: bounce 600ms infinite alternate ease-in-out;
    }

    &:nth-child(1){
      width: 441px;
      height: 445px;
      top: 113px;
      right: 523px;
      /* background-color: lightgreen; */
      img{
        animation-delay: 100ms;
      }
    }
    &:nth-child(2){
      width: 441px;
      height: 428px;
      top: 62px;
      right: 300px;
      img{
        animation-delay: 500ms;
      }
    }
    &:nth-child(3){
      width: 441px;
      height: 428px;
      top: 100px;
      right: 0px;
      img{
        animation-delay: 1000ms;
      }

    }
    
  }

  &-bar{
    display: flex;
    @include flexbox($ma:space-between); // mixin 로드 재사용
  }
  //음료정보 자세히 보기
  &__more{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    color: $season-text-color2;
    padding: 10px 25px;
    height: 40px;
    margin-top: 40px;
    border: 1px solid $season-text-color2;
  }
}


